@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@1,100&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');

:root {
    --colorNaranja: rgba(255, 145, 77, 255);
    --colorNegro: #040303;
    --colorBody: #ebebeb;
    --colorGris: #8A8A8A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--colorBody);
}

.botonGeneral{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 8px;
    background-color: var(--colorNaranja);
    margin-top: 10px;
    transition: 0.5s;
    font-weight: bold;
}

@mixin alto-ancho ($height, $width){
        width: $width;
        height: $height;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr auto 0.5fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
}


.header {
    grid-area: header;
    background-color: var(--colorNegro);
    display: flex;
    justify-content: space-between;
}

.navbar-nav li a {
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
}

.header img {
    @include alto-ancho(50px, 93px);
    margin: 15px 30px;
}

#link-a-navbar {
    color: white;
}

#link-a-navbar-inicio {
    color: var(--colorNaranja);
}

.header nav ul li {
    position: relative;
}

.header nav ul li a::before {
    content: "";
    @include alto-ancho(2px, 0%);
    background: rgba(255, 145, 77, 255);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.2s ease-out;
}

.header nav ul li a:hover::before {
    width: 100%;
}


/* ------------------------INDEX------------------------ */
.main {
    grid-area: main;
}

.portada {
    background-image: linear-gradient(rgba(255, 255, 255, 0.20), rgba(0, 0, 0, 0.900)), url(../img/Portada/portada.jpg);
    @include alto-ancho(500px, 100%);
    flex-wrap: nowrap;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portada h1 {
    display: flex;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 80px;
}

.portada .textoArriba {
    color: var(--colorNaranja);
    margin-bottom: -10px;
    font-weight: bold;
}

.portada .textoAbajo {
    color: white;
    font-weight: bold;
}

.portada a {
    @extend.botonGeneral;
}

.portada a:hover {
    transform: scale(0.93);
}

.rebajas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-bottom: 3%;
}

.rebajas>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include alto-ancho(300px, 600px);
    padding-left: 3%;
    border-style: ridge;
}

.rebajas .cajones {
    background-image: linear-gradient(rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.500)), url(../img/Rebajas/cajon.jpg);
    background-size: cover;
}

.rebajas .mesas {
    background-image: linear-gradient(rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.500)), url(../img/Rebajas/mesa.jpg);
    background-size: cover;
}

.rebajas h2 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.rebajas a {
    @extend.botonGeneral;
}

.rebajas a:hover {
    transform: scale(0.93);
}

.div-boton-ingresados{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-boton-ingresados > button{
    font-size: 1.5rem;
}

.button{
    position:relative;
    padding:1em 1.5em;
    border:none;
    background-color:transparent;
    cursor:pointer;
    outline:0;
    font-size:18px;
    margin:1em .8em
}

.button.type1{
    color:#566473
}

.button.type1.type1::after,.button.type1.type1::before{
    content:"";
    display:block;
    position:absolute;
    @include alto-ancho(20%, 20%);
    border:2px solid;
    transition:all .6s ease;
    border-radius:2px
}

.button.type1.type1::after{
    bottom:0;
    right:0;
    border-color:transparent #566473 #566473 transparent;
}

.button.type1.type1::before{
    top:0;
    left:0;
    border-color:#566473 transparent transparent #566473;
}
.button.type1.type1:hover:after,.button.type1.type1:hover:before{
    @include alto-ancho(100%, 100%);
}

.carrusel-index {
    padding: 0px 25px;
    @include alto-ancho(auto, 100%);
    overflow: hidden;
}

.carrusel-index p {
    background-color: white;
    color: gray;
    text-align: center;
    margin-top: 12px;
}

.descripcion-carrusel{
    background-color: white;
    width: 95%;
    border-top: 1px solid rgba(51, 51, 51, .1);
}

.carrusel-index a {
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: var(--colorNaranja);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrusel-index ul {
    display: flex;
    animation: velocidad-carrusel-index 60s infinite alternate linear;
    width: 400%;
}

.carrusel-index li {
    width: 50%;
    list-style: none;
}

.carrusel-index img {
    @include alto-ancho(300px, 300px);
    display: block;
    cursor: pointer;
    margin-right: 15px;
}


@keyframes velocidad-carrusel-index {
    0% {
        margin-left: 0%;
    }

    10% {
        margin-left: -10%;
    }

    20% {
        margin-left: -20%;
    }

    40% {
        margin-left: -40%;
    }

    50% {
        margin-left: -50%;
    }

    70% {
        margin-left: -70%;
    }

    90% {
        margin-left: -90%;
    }

    100% {
        margin-left: -100%;
    }
}


/* --------------------------------DESTACADOS------------------------------- */

.mainDestacados {
    grid-area: main;
}

#div-boton-ingresados{
    margin-top: 20px;
}

#div-boton-ingresados button{
    font-size: 30px;
}


.container-main-destacados {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 320px);
    grid-gap: 20px;
}

.container-main-destacados .box-img-destacados figure {
    @include alto-ancho(100%, 100%);
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.20);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}


.container-main-destacados .box-img-destacados img {
    @include alto-ancho(100%, 100%);
    object-fit: cover;
}

.box-img-destacados>figure::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.80);
    transform: scaleX(0);
    transition: transform .4s;
}

.box-img-destacados>figure:hover::before {
    transform: scaleX(1);
    content: "";
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-shadow: 10px;
    text-align: center;
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: center;
}

.ejemplosMaps{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
}
.ejemplosMaps > div{
    width: 100px;
    height: 100px;
    border: 3px solid;
}

.box-img-destacados>.destacados-imagen1:hover::before {
    content: "Sillon @Royal, cubierto de cuero 100% sintetico. Su confortabilidad y comodidad, ofrecen una experiencia unica.";
}

.box-img-destacados>.destacados-imagen2:hover::before {
    content: "Aparador pequeño, originalmente diseñado para habitaciones o salas de estar.";
}

.box-img-destacados>.destacados-imagen3:hover::before {
    content: "Biblioteca de madera, ideal para salas con diseño minimalista.";
}

.box-img-destacados>.destacados-imagen4:hover::before {
    content: "Set de living completo, listo para darle a tu casa un toque sobrio y elegante. ";
}

.box-img-destacados>.destacados-imagen5:hover::before {
    content: "Mesa ratona @Bambú, pensada para todo tipo de usos y ambientes.";
}

.box-img-destacados>.destacados-imagen6:hover::before {
    content: "Aparador @Natural, diseñado artesanalmente y con elementos 100% reciclados.";
}

.box-img-destacados>.destacados-imagen7:hover::before {
    content: "Sillon gama @Nova. Posee un tapizado que te brinda máxima durabilidad, resistencia y es muy agradable al tacto.";
}

.box-img-destacados>.destacados-imagen8:hover::before {
    content: "Sofá de oficina, fabricado con materiales nobles y de alta resistencia, permiten un uso intensivo diario sin problemas.";
}

.container-main-destacados .box-img-destacados:nth-child(1) {
    grid-column-start: span 2;
}

.container-main-destacados .box-img-destacados:nth-child(3) {
    grid-row-start: span 2;
}

.container-main-destacados .box-img-destacados:nth-child(4) {
    grid-column-start: span 2;
}

.container-main-destacados .box-img-destacados:nth-child(8) {
    grid-column-start: span 2;
}

.container-main-destacados .box-img-destacados .imagen-living-destacados {
    object-position: bottom;
}

/* -------------------------------------- OFERTAS ------------------------------------*/

.owl-container{
    width: 100%;
}

.owl-container .titulo{
    text-align: center;
    margin-top: 20px;
}

.div-carrusel-ofertas{
    width: 100%;
}

.div-carrusel-ofertas:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}

.button, .type1{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: auto;
    margin-bottom: 12px;
}

.button, .type1, .ofertas{
    margin-top: 12px;
}

.descripcion-carrusel-ofertas{
    background-color: white;
    width: 100%;
    height: 150px;
    border-top: 1px solid rgba(51, 51, 51, .1);
    display: flex;
    flex-direction: column;
}

.descripcion-carrusel-ofertas p{
    font-weight: 700;
    margin-top: 7px;
}

.descripcion-carrusel-ofertas i{
    font-weight: 700;
    color: #526172c0;
    font-size: small;
    text-align: start;
}

.descripcion-carrusel-ofertas a {
    text-decoration: none;
    color: white;
    background-color: var(--colorNaranja);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
}

.descripcion-carrusel-ofertas .container-xl span{
    color: var(--colorNaranja);
}

/* -------------------------------------- NOSOTROS ------------------------------------*/

.quienes-somos-nosotros{
    margin-top: 3%;
}

.quienes-somos-nosotros h1{
    font-weight: 700;
}

.quienes-somos-nosotros p{
    font-weight: 600;
    font-size: 1.5rem;
}

.renglon-nosotros{
    height: 200px;
    border-top: 1px dashed gray;
    display: flex;
}

.renglon-nosotros .div-numero-nosotros{
    width: 20%;
}

.renglon-nosotros .div-numero-nosotros p{
    font-size: 55px;
    text-align: center;
    margin-top: 25%;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: lighter;
}

.renglon-nosotros .imagen-nosotros{
    width: 20%;
}

.renglon-nosotros .imagen-nosotros div{
    margin: auto;
    margin-top: 9%;
    @include alto-ancho(80%, 80%);
    background-position: center;
    background-size: cover;
}

.renglon-nosotros .titulo-texto-nosotros{
    width: 60%;
    margin-top: 1.6%;
    margin-left: 1%;
    font-weight: 600;
}

#renglon-nosotros-id{
    border-bottom: 1px dashed gray;
    margin-bottom: 30px;
}

.renglon-nosotros .titulo-texto-nosotros .texto-nosotros p{
    font-weight: 600;
}

.imagen-nosotros .imagen-1990{
    background-image: url(../img/nosotros/garage-1990.jpg);
}
.imagen-nosotros .imagen-2000{
    background-image: url(../img/nosotros/fabrica-2000.jpg);
}
.imagen-nosotros .imagen-2010{
    background-image: url(../img/nosotros/puerto-2010.jpg);
}
.imagen-nosotros .imagen-2020{
    background-image: url(../img/nosotros/banderas-2020.jpg);
}

/* ------------------- FEEDBACK ------------------- */
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 900px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 5px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: var(--colorBody);
  }
  
  .screen-header-button.close {
    background: black;
  }
  
  .screen-header-button.maximize {
    background: var(--colorNaranja);
  }
  
  .screen-header-button.minimize {
    background: black;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--colorNaranja);
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: var(--colorNaranja);
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 15px;
    color: var(--colorGris);
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid var(--colorGris);
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #8A8A8A;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    margin-right: 5px;
    color: var(--colorNaranja);
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    font-size: 15px;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
/* ------------------- FOOTER ------------------- */
footer{
    grid-area: footer;
    position: relative;
    bottom: 0;
    left: 0;
    @include alto-ancho(fit-content, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: var(--colorNegro);
}

.footer-container{
    @include alto-ancho(fit-content, 100%);
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container > img{
    @include alto-ancho(53px, 100px);
    margin: auto;
    margin-top: 20px;
    opacity: 0.7;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

form label .boton-newsletter{
    padding: 0px 3px;
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

footer .website-logo{
    @include alto-ancho(50px, 93px);
}

.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    padding-left: 1px;
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.menu-item-footer:hover{
    opacity: 1;
    color: var(--colorNaranja);
}

.menu-titulo-footer{
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.social-container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    @include alto-ancho(30px, 100%);
}

.social-link-footer{
    @include alto-ancho(25px, 25px);
    background-image: url(../img/IconosFooter/instagram.png);
    background-size: 100%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link-footer:hover{
    opacity: 0.7;
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright-footer-contenido{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

footer .social-link-footer:nth-of-type(2){
    background-image: url(../img/IconosFooter/facebook.png);
}

footer .social-link-footer:nth-of-type(3){
    background-image: url(../img/IconosFooter/twitter.png);
}


/* --------------------------------------------------------- MEDIA QUERIES --------------------------------------------------------- */

@media screen and (max-width:1310px) {
    .descripcion-carrusel {
        width: 95%;
    }
}

@media screen and (max-width:1138px){
    .container-main-destacados {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 420px);
    }

    .container-main-destacados .box-img-destacados:nth-child(1) {
        grid-column-start: span 2;
    }
    
    .container-main-destacados .box-img-destacados:nth-child(3) {
        grid-row-start: span 1;
    }
    
    .container-main-destacados .box-img-destacados:nth-child(4) {
        grid-column-start: span 2;
    }

    .container-main-destacados .box-img-destacados:nth-child(7) {
        grid-column-start: span 2;
    }
    
    .container-main-destacados .box-img-destacados:nth-child(8) {
        grid-column-start: span 2;
    }
    
}

@media (max-width:1084px){
    .renglon-nosotros .imagen-nosotros{
        width: 40%;
    }
    
    .renglon-nosotros .titulo-texto-nosotros{
        width: 40%;
    }

    .renglon-nosotros .imagen-nosotros div{
        margin-top: 5%;
    }
}

@media (max-width:1013px){
    .renglon-nosotros .div-numero-nosotros p{
        font-size: 45px;
        margin-top: 30%;
    }
    .renglon-nosotros .titulo-texto-nosotros .texto-nosotros p{
        font-size: small;
    }
}

@media (max-width: 1000px){
    
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container form{
        margin: auto;
    }

    .footer-content-container:nth-of-type(1){
        align-items: flex-start;
    }
    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1){
        width: 45%;
        margin: auto;
        align-items: flex-start;
        border-bottom: none;
    }
    .footer-menus .footer-content-container:nth-of-type(2){
        width: 45%;
        margin: auto;
        align-items: flex-start;
        border-bottom: none;
    }
}

@media screen and (max-width:991px) {
    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        position: relative;
    }

    .header nav ul li {
        display: flex;
        width: 99vw;
        margin-top: 4px;
    }

    .container-fluid button{
        transition: 50s;
    }

    .header nav ul li a {
        padding: 5px;
        background-color: var(--colorNaranja);
        width: 100%;
        text-align: center;
    }

    .header nav ul li a:active {
        transform: scale(0.97);
    }

    .header nav ul li #link-a-navbar-inicio {
        color: white;
    }
}

@media screen and (max-width:929px){
    .container-main-destacados{
        width: 95%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 420px);
    }

    .container-main-destacados .box-img-destacados img {
        object-fit: contain;
    }
    .container-main-destacados .box-img-destacados {
        object-fit: contain;
        background-color: white;
    }
    
    .container-main-destacados .box-img-destacados .imagen-living-destacados {
        object-position: center;
    }

    .container-main-destacados .box-img-destacados:nth-child(1) {
        grid-column-start: span 1;
    }
    
    .container-main-destacados .box-img-destacados:nth-child(3) {
        grid-row-start: span 2;
    }
    
    .container-main-destacados .box-img-destacados:nth-child(4) {
        grid-column-start: span 1;
    }

    .container-main-destacados .box-img-destacados:nth-child(7) {
        grid-column-start: span 1;
    }
    
    .container-main-destacados .box-img-destacados:nth-child(8) {
        grid-column-start: span 1;
    }
}

@media (max-width:837px){
    .renglon-nosotros .div-numero-nosotros p{
        margin-top: 38%;
    }
}

@media screen and (max-width:816px) {

    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        position: relative;
    }

    .header nav ul {
        flex-direction: column;
    }

    .header nav ul li {
        display: flex;
        width: 100vw;
    }

    .header nav ul li {
        margin-top: 4px;
    }

    .header figure img {
        @include alto-ancho(190px, 190px);
    }

    .header nav ul li a {
        padding: 5px;
        background-color: rgba(255, 145, 77, 255);
        width: 100%;
        text-align: center;
    }

    .header nav ul li a:active {
        transform: scale(0.97);
    }

    .header nav ul li #link-a-navbar-categorias {
        background-color: white;
        color: black;
    }

    .portada h1 {
        font-size: 60px;
    }

    .rebajas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rebajas>div {
        @include alto-ancho(200px, 400px);
    }

    .rebajas h2 {
        font-size: 20px;
    }

    .rebajas a {
        font-size: 10px;
    }

    .recienIngresados h2 {
        font-size: 25px;
    }

    .carrusel-index img {
        @include alto-ancho(200px, 200px);
    }

    .descripcion-carrusel {
        width: 93%;
    }

    .carrusel-index p {
        font-size: 15px;
    }

    .carrusel-index ul {
        animation: velocidad-carrusel-index 30s infinite alternate linear;
    }
}

@media (max-width:686px){
    .renglon-nosotros .div-numero-nosotros p{
        margin-top: 45%;
    }
}


@media screen and (max-width:620px) {
    .galeriaDestacados {
        padding-top: 5px;
        width: 100%;
    }

    .galeriaDestacados>div {
        @include alto-ancho(250px, 250px);
    }
}

@media (max-width:610px){
    .renglon-nosotros .titulo-texto-nosotros .texto-nosotros p{
        font-size: 10px;
    }

    .screen-body {
        padding: 40px;
      }
    
      .screen-body-item {
        padding: 0;
      }
}

@media screen and (max-width: 520px) {
    .renglon-nosotros .div-numero-nosotros p{
        font-size: 35px;
        margin-top: 65%;
    }

    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }

@media screen and (max-width:480px) {
    .portada h1 {
        font-size: 40px;
    }

    .portada .textoArriba{
        margin-bottom: 1px;
    }

    .rebajas>div {
        @include alto-ancho(175px, 350px);
    }
}

@media screen and (max-width:440px){
    .div-numero-nosotros p{
        writing-mode: vertical-lr;
        text-orientation: sideways;
    }
}

@media screen and (max-width:417px) {
    .portada .textoAbajo {
        text-align: center;
    }
}

@media screen and (max-width:388px){
    .renglon-nosotros{
        height: 240px;
    }
}

@media screen and (max-width:371px){
    .rebajas>div {
        @include alto-ancho(125px, 250px);
    }
}




