@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@1,100&family=Source+Sans+Pro:wght@300&display=swap');

:root {
    --colorNaranja: rgba(255, 145, 77, 255);
    --colorNegro: #040303;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ebebeb;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr auto 0.5fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
}

/* ----------------------------------------------------- BARRA DE NAVEGACION -----------------------------------------------------*/
.header {
    grid-area: header;
    background-color: var(--colorNegro);
    display: flex;
    justify-content: space-between;
}

.navbar-nav li a {
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
}

.header img {
    width: 93px;
    height: 50px;
    margin: 15px 30px;
}

#link-a-navbar {
    color: white;
}

#link-a-navbar-categorias {
    color: var(--colorNaranja);
}

.header nav ul li {
    position: relative;
}

.header nav ul li a::before {
    content: "";
    height: 2px;
    width: 0%;
    background: rgba(255, 145, 77, 255);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.2s ease-out;
}

.header nav ul li a:hover::before {
    width: 100%;
}

/* ----------------------------------------------------------- BODY ----------------------------------------------------------- */
/* ------------------------INDEX------------------------ */
.main {
    grid-area: main;
}

.portada {
    background-image: linear-gradient(rgba(255, 255, 255, 0.20), rgba(0, 0, 0, 0.500)), url(../img/portada.jpg);
    width: 100%;
    height: 90vh;
    flex-wrap: nowrap;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portada h1 {
    display: flex;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 80px;
}

.portada .textoArriba {
    color: var(--colorNaranja);
    margin-bottom: -10px;
    font-weight: bold;
}

.portada .textoAbajo {
    color: white;
    font-weight: bold;
}

.portada a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 8px;
    background-color: var(--colorNaranja);
    margin-top: 10px;
    transition: 0.5s;
    font-weight: bold;
}

.portada a:hover {
    transform: scale(0.93);
}

.rebajas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-bottom: 3%;
}

.rebajas>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 300px;
    padding-left: 3%;
    border-style: ridge;
}

.rebajas .cajones {
    background-image: linear-gradient(rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.500)), url(../img/cajon.jpg);
    background-size: cover;
}

.rebajas .mesas {
    background-image: linear-gradient(rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.500)), url(../img/mesa.webp);
    background-size: cover;
}

.rebajas h2 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.rebajas a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: white;
    position: bottom;
    padding: 8px;
    background-color: var(--colorNaranja);
    margin-top: 1px;
    transition: 0.5s;
}

.rebajas a:hover {
    transform: scale(0.93);
}

.carrusel-index {
    padding: 0px 25px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carrusel-index p {
    background-color: white;
    color: gray;
    text-align: center;
    margin-top: 12px;
}

.descripcion-carrusel{
    background-color: white;
    width: 95%;
    border-top: 1px solid rgba(51, 51, 51, .1);
}

.carrusel-index a {
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: var(--colorNaranja);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrusel-index ul {
    display: flex;
    animation: velocidad-carrusel-index 60s infinite alternate linear;
    width: 400%;
}

.carrusel-index li {
    width: 50%;
    list-style: none;
}

.carrusel-index img {
    width: 300px;
    height: 300px;
    display: block;
    cursor: pointer;
    margin-right: 15px;
}

@keyframes velocidad-carrusel-index {
    0% {
        margin-left: 0%;
    }

    10% {
        margin-left: -10%;
    }

    20% {
        margin-left: -20%;
    }

    40% {
        margin-left: -40%;
    }

    50% {
        margin-left: -50%;
    }

    70% {
        margin-left: -70%;
    }

    90% {
        margin-left: -90%;
    }

    100% {
        margin-left: -100%;
    }
}


/* ------------------------DESTACADOS------------------------ */

.mainDestacados {
    grid-area: main;
}

.container-main-destacados {
    width: 100%;
    max-width: 1100px;
    margin:auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 320px);
    grid-gap: 20px;
}

.container-main-destacados .box-img-destacados figure {
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.20);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.container-main-destacados .box-img-destacados img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-img-destacados>figure::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.80);
    transform: scaleX(0);
    transition: transform .4s;
}

.box-img-destacados>figure:hover::before {
    transform: scaleX(1);
    content: "";
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-shadow: 10px;
    text-align: center;
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: center;
}

.box-img-destacados>.destacados-imagen1:hover::before {
    content: "Sillon @Royal, cubierto de cuero 100% sintetico. Su confortabilidad y comodidad, ofrecen una experiencia unica.";
}

.box-img-destacados>.destacados-imagen2:hover::before {
    content: "Aparador pequeño, originalmente diseñado para habitaciones o salas de estar.";
}

.box-img-destacados>.destacados-imagen3:hover::before {
    content: "Biblioteca de madera, ideal para salas con diseño minimalista.";
}

.box-img-destacados>.destacados-imagen4:hover::before {
    content: "Set de living completo, listo para darle a tu casa un toque sobrio y elegante. ";
}

.box-img-destacados>.destacados-imagen5:hover::before {
    content: "Mesa ratona @Bambú, pensada para todo tipo de usos y ambientes.";
}

.box-img-destacados>.destacados-imagen6:hover::before {
    content: "Aparador @Natural, diseñado artesanalmente y con elementos 100% reciclados.";
}

.box-img-destacados>.destacados-imagen7:hover::before {
    content: "Sillon gama @Nova. Posee un tapizado que te brinda máxima durabilidad, resistencia y es muy agradable al tacto.";
}

.box-img-destacados>.destacados-imagen8:hover::before {
    content: "Sofá de oficina, fabricado con materiales nobles y de alta resistencia, permiten un uso intensivo diario sin problemas.";
}

.container-main-destacados .box-img-destacados:nth-child(1) {
    grid-column-start: span 2;
}

.container-main-destacados .box-img-destacados:nth-child(3) {
    grid-row-start: span 2;
}

.container-main-destacados .box-img-destacados:nth-child(4) {
    grid-column-start: span 2;
}

.container-main-destacados .box-img-destacados:nth-child(8) {
    grid-column-start: span 2;
}

.container-main-destacados .box-img-destacados .imagen-living-destacados {
    object-position: bottom;
}


/* ------------------- FOOTER ------------------- */
.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    bottom: 100;
    height: 250px;
}

.footer ul {
    display: flex;
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    padding: 15px;
}

.footer h3 {
    color: white;
}

.footer .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorNegro);
    width: 33%;
    border-right: 1px solid grey;
}

.footer ul {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    background-color: var(--colorNegro);
    width: 67%;
    height: 100%;
}

.footer ul li a {
    text-decoration: none;
    color: white;
}

.footer .iconosFooter {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .iconosFooter i {
    text-decoration: none;
    list-style: none;
    color: white;
}

.footer .iconosFooter i:hover {
    color: var(--colorNaranja);
    transition: 0.5s ease-out;
}

.carruselIngresados>div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

/* ------------------- MEDIA QUERIES ------------------- */

@media screen and (max-width:991px) {
    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        position: relative;
    }

    .header nav ul {
        flex-direction: column;
    }

    .header nav ul li {
        display: flex;
        width: 100vw;
    }

    .header nav ul li {
        margin-top: 4px;
    }

    .header figure img {
        width: 190px;
        height: 190px;
    }

    .header nav ul li a {
        padding: 5px;
        background-color: rgba(255, 145, 77, 255);
        width: 100%;
        text-align: center;
    }

    .header nav ul li a:active {
        transform: scale(0.97);
    }

    .header nav ul li #link-a-navbar-categorias {
        background-color: white;
        color: black;
    }
}

@media screen and (max-width:1310px) {
    .descripcion-carrusel {
        width: 95%;
    }
}

@media screen and (max-width:1138px){
    .container-main-destacados {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 320px);
    }


    .container-main-destacados .box-img-destacados:nth-child(1) {
        grid-column-start: span 1;
    }
    
    .container-main-destacados .box-img-destacados:nth-child(3) {
        grid-row-start: span 1;
    }
    
    .container-main-destacados .box-img-destacados:nth-child(4) {
        grid-column-start: span 1;
    }
    
    .container-main-destacados .box-img-destacados:nth-child(8) {
        grid-column-start: span 1;
    }
    
    .container-main-destacados .box-img-destacados .imagen-living-destacados {
        object-position: bottom;
    }
}

@media screen and (max-width:816px) {

    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        position: relative;
    }

    .header nav ul {
        flex-direction: column;
    }

    .header nav ul li {
        display: flex;
        width: 100vw;
    }

    .header nav ul li {
        margin-top: 4px;
    }

    .header figure img {
        width: 190px;
        height: 190px;
    }

    .header nav ul li a {
        padding: 5px;
        background-color: rgba(255, 145, 77, 255);
        width: 100%;
        text-align: center;
    }

    .header nav ul li a:active {
        transform: scale(0.97);
    }

    .header nav ul li #link-a-navbar-categorias {
        background-color: white;
        color: black;
    }

    .portada h1 {
        font-size: 60px;
    }

    .rebajas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rebajas>div {
        width: 400px;
        height: 200px;
    }

    .rebajas h2 {
        font-size: 20px;
    }

    .rebajas a {
        font-size: 10px;
    }

    .recienIngresados h2 {
        font-size: 25px;
    }

    .carrusel-index img {
        width: 200px;
        height: 200px;
    }

    .descripcion-carrusel {
        width: 93%;
    }

    .carrusel-index p {
        font-size: 15px;
    }

    .carrusel-index ul {
        animation: velocidad-carrusel-index 30s infinite alternate linear;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .footer ul {
        padding-top: 1%;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .footer ul li {
        display: flex;
    }

    .footer .newsletter {
        padding-top: 1%;
        width: auto;
    }

    .footer .iconosFooter {
        flex-direction: row;
        width: 40%;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 3%;
    }
}

@media screen and (max-width:620px) {
    .galeriaDestacados {
        padding-top: 5px;
        width: 100%;
    }

    .galeriaDestacados>div {
        width: 250px;
        height: 250px;
    }
}


@media screen and (max-width:480px) {
    .portada h1 {
        font-size: 40px;
    }

    .rebajas>div {
        width: 350px;
        height: 175px;
    }
}


@media screen and (max-width:417px) {
    .portada .textoAbajo {
        text-align: center;
    }
}